.section {
  min-height: 100vh;
  background-color: #f6e8e5;
}

.sectioncontent {
  background-color: white;
  padding: 60px 60px;
  max-width: 1264px;
  margin: auto
}

.nav {
    position: absolute;
    width: 50%;
    top: 40px;
    left: 100px;
}

@media only screen and (max-width: 900px) {
    .sectioncontent {
      padding: 30px 20px;
    }
  }

@media only screen and (max-width: 600px) {
  .sectioncontent {
    padding: 20px 10px;
  }
}
