ul {
  padding-left: 1.3em;
}

li {
  text-indent: -1.3em;
}


/* needs to be 0.7em for bigger text */
li:before {
  content: "";
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  background-image: url(../assets/success.svg);
  background-size: contain;
  margin-right: 0.5em;
}
